@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100;
}

* {
  @apply selection:bg-primary-600/70 selection:text-white;
}
